doctype html
html
	head
		title Minesweeper 2000 on Web
		link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,900')
		link(rel='stylesheet' href='index.css')
	body
		main
			table.world-field
		footer
			nav
				ul.difficulty-controller
					li
						div.input-field
							label Width
							input(type='number' value='68')
					li
						div.input-field
							label Height
							input(type='number' value='48')
					li
						div.input-field
							label Mines
							input(type='number' value='777')
		script(src='index.js')