doctype html
html
	head
		link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,900')
		link(rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
		link(rel='stylesheet' href='index.css')
	body
		h1 Minesweeper
		main
			div.world-field
		script(src='index.js')